[flake8]
ignore = D203, F401, W504, E501, I201, E731, E712, Q000
exclude = .venv, wsgi.py, .git, __pycache__, docs/source/conf.py, old, build, dist, .rst
max-line-length = 160
max-complexity = 20
