# Byte-compiled / optimized / DLL files
/config*.yml
/oracle-instantclient*.deb
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
#lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
# https://qiita.com/matsuoshi/items/0767198c17d4d0f3c22d
doc/_build/*
# !doc/_build/_static
# doc/_build/_static/*
# !doc/_build/_static/css
# doc/_build/_static/css/*
# !doc/_build/_static/css/my_theme.css

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# Eclipse project file
.pydevproject
.project
.settings

# winmerge
.bak

# pycharm
.idea

# pelican
doc/output/**

# visual studio code project file.
.vscode

# envfile
.env
.env_dev
*.code-workspace

# terminator project operational env requirements
app/Pipfile
app/Pipfile.lock
oracle*.deb

.pytest_cache/
.coverage
*.pptx
*.xlsx

windows_run.bat
requirements.txt
*.sqlite3
/bin

config.yml
.aws